<!DOCTYPE html>
<html lang="en">
<head>
<title>Case Study</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<meta charset="utf-8">

</head>

<body>

<h1>Components</h1>

<div class="defaults">

<h2>Typography and Color Defaults:</h2>

<img src="img/type-color.jpg" alt="image">
<hr><hr>

</div>

<div class="section">

<img src="img/nav.jpg" alt="image">
<hr>

</div>


<div class="code">

<!-- start header -->

<header>			
    <h1><a href="#" rel="home">Paul Pycraft</a></h1>
</header>

</div>
<!-- end header -->

<!-- start site-navigation -->
<div class="">

<nav>
<button>Menu</button>
<div>
<ul >
<li>
<a href="#">Home</a>
</li>

<li>
<a href="#">The Octopus&#8217;s Holiday</a>
    <ul>
        <li><a href="#">Special Features</a></li>
    </ul>
</li>

<li>
<a href="#">The Octopus Series</a>
</li>


<li>
<a href="#">About the Author</a>
</li>

<li>
<a href="https://paulpycraft.com/contact/">Contact</a>
</li>

</ul>
</div>		
</nav>

</div>
<!-- end site-navigation -->



</body>
</html>