body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;	
}

.parts{
	background-color: #fff;	
	width: 90%;
	margin: 0 auto;
}

img{
	display: block;	
	width: 90%;
	margin: auto;
	background-color: rgb(222, 243, 243);
}

.nav{
text-transform: uppercase;
}

a{
	text-decoration: none;
	color: #999;
}

nav ul {
	list-style-type: none;
  }